{% extends "download/base.html" %}

{% block content %}

    {% block titleX %}

        <h1 class="title1" data-text="Youtube Download Website">
            <i class="fa fa-music" aria-hidden="true"> 
                Youtube Download Website
            </i>
        </h1>
        
    {% endblock titleX %}
    
        <form method="POST">
        {% csrf_token %}
    
            <p style="color: #ff1f71">
                <i>
                    Enter Youtube URL :
                </i>
                    <input class="form-control" type="text" required name="url">
            </p>
    
            <button class="btn" type="submit" formaction="/send-mp3/">
                Download MP3
            </button>
    
            <button class="btn-2" type="submit" formaction="/send-mp4/">
                Download MP4
            </button>
    
            <button class="alternative-btn" type="submit" formaction="/refreshed/" style="font-size: 200%">
                Refreshed
            </button>
            
        </form>
    
        <div class="left">
            <img src="/static/download/images/image1-stamped.png" width="423" height="700">
        </div>

{% endblock content %}